/*@charset "utf-8";*/

/*全局的设置*/
/*各种标签属性的清除*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input
{margin: 0;padding: 0px;}
body,a{font-size:12px;
font-family: "微软雅黑";} 
img{border: none;}
li{list-style: none;}
input,select,textarea{outline: none;border: none;}
textarea{resize:none;}
a{text-decoration: none;
text-align: center;}

/*a标签颜色的渐变公共设置*/
/**:hover,*:active,*:link,*:visited{
	transition:0.3s ease;
    -o-transition:0.3s ease;
    -webkit-transition:0.3s ease;
	-moz-transition:0.3s ease;	
}*/

/*清除浮动*/
.clearfix:after{content: "";display:block;clear:both;}
.clearfix{zoom:1;}
.fl{float:left;}
.fr{float:right;}

/*公用的部分*/
.comWidth{
	width: 1000px;
	margin:0 auto; 
}